# 应用配置
APP_DEBUG = true
SERVER_HOST = http://0.0.0.0:5566

# sse配置
CONDOR_SSE_LISTEN = http://0.0.0.0:5567

# 数据库配置
MYSQL_HOST = 192.168.0.143
MYSQL_PORT = 9906
MYSQL_USER = root
MYSQL_PASS = root
MYSQL_DATABASE = condoradmin
MYSQL_PREFIX = con_

# 缓存配置
REDIS_HOST = 192.168.0.143
REDIS_PASS =
REDIS_PORT = 9379
REDIS_DATABASE = 0

# 时区
TIME_ZONE = 'Asia/Shanghai'

# access_secret_key
JWT_ACCESS_SECRET_KEY = 'cvbghfghfghfgh/ertertert='
# refresh_secret_key
JWT_REFRESH_SECRET_KEY = 'yuiyuiyuiyuiyiu/sdfsdfsdfsdfsdfsdf='

# 日志配置
LOG_ENABLE = true
LOG_EXCEPTION_ENABLE = true

MYSQL_LOG = true
MYSQL_LOG_CONSOLE = true
MYSQL_LOG_FILE = false

# 微信小程序配置
WECHAT_APPID =
WECHAT_SECRET =

# 短信配置 (easy-sms)
SMS_DEFAULT_GATEWAY = log
SMS_GATEWAYS = log